$icomoon-font-family: "pch-icon-location" !default;
$icomoon-font-path: "fonts" !default;

$icon-design-path1: "\e900";
$icon-design-path2: "\e901";
$icon-design-path3: "\e902";
$icon-design-path4: "\e903";
$icon-design-path5: "\e904";
$icon-design-path6: "\e905";
$icon-survey-path1: "\e906";
$icon-survey-path2: "\e907";
$icon-survey-path3: "\e908";
$icon-survey-path4: "\e909";
$icon-survey-path5: "\e90a";
$icon-survey-path6: "\e90b";
$icon-survey-path7: "\e90c";
$icon-survey-path8: "\e90d";
$icon-survey-path9: "\e90e";
$icon-survey-path10: "\e90f";
$icon-survey-path11: "\e910";
$icon-survey-path12: "\e911";
$icon-survey-path13: "\e912";
$icon-survey-path14: "\e913";
$icon-survey-path15: "\e914";
$icon-survey-path16: "\e915";

